{% extends 'layout/index.html' %} 
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}" />
{% endblock styles %}
{% block title %} 
Polls   
{% endblock title %} 
{% block content %}
<main>
  <section>
    {% if latest_question_list %}
    <ol>
      {% for question in latest_question_list %}
      <li>
        <a href="{% url 'polls:detail' question.id %}"
          >{{ question.question_text }}</a
        >
      </li>
      {% endfor %}
    </ol>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
  </section>
</main>
{% endblock content %}
