li a {
  color: green;
}

body {
  min-height: 100vh;
  background-color: white;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
